.voteDiv{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    background-color:beige;
    border-right: 1px grey solid ;
} 
.Toastify__toast-container {
    z-index: 200000;
    }